{% load static %}
<!DOCTYPE html>
<html>
<head>

  <title> 
    About | RT
  </title>

  <link rel="stylesheet" type="text/css" href="{% static 'Alpha/main.css' %}">

  <script src="{% static 'Alpha/main.js' %}"> </script>

  <meta name="viewport" content="width=device-width">

</head>

<body>

<!-- Header -->
<header>
  <div class="container">

    <div id="siteName">
      <h1> 
        Richelle's Site
      </h1>
    </div>

    <nav>
      <ul>
        <li><a href="/">
          Home
        </a>
        </li>
        <li><a href="/about">
          About
        </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
<!-- End of Header -->

</body>
</html>