<!DOCTYPE html>
<html>
<head>
	<title>About Alpha Library</title>
</head>

<!-- w3 and font import -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<style>
.w3-Montserrat {
	font-family: "Montserrat", sans-serif;
}

.w3-Noto {
	font-family:"Noto Serif SC", serif;
}

.w3-Playfair {
	font-family:"Playfair Display", serif;
}
</style>
<!-- End of w3 and font import -->

<body>

<!-- Tab -->
<div class="w3-bar w3-black w3-Montserrat">
  <a href="/" class="w3-bar-item w3-button w3-mobile">The Elder Scrolls: Skyrim - Book Library</a>
  <a href="/about" class="w3-bar-item w3-button w3-mobile">About</a>
</div>
<!-- End of Tab -->

<!-- Page width -->
<div style="margin-left:10%">
<!-- End of Page width -->

<!--Page Content -->
<div class="w3-container w3-center w3-pale-blue w3-Playfair">
	<p class="w3-xxlarge">
		How this website came to be
	</p>

<div class="w3-container w3-center w3-pale-blue w3-Noto">
  <p class="w3-xlarge">
  	This website was initially meant to be a minor project as a means of practicing coding but whilst i was making this site, i was also playing TES: Skyrim and 
  	<br><br>
  	I wanted to read the books that you can find scattered across the large land of Skyrim 
  	<br><br>
  	But I found it profoundly annoying to look for every single book in the game and even if i did find every single book, it would still be scattered around the various houses, chests, and etc. 
  	<br><br>
  	And i also wanted to easily find what i wanted to read, a series of book in the same page
  	<br><br>
  	And so i have looked for every book in Skyrim and typed them word by word for this website
  	<br><br>
  	And i will be updating other books from TESO and TES: Oblivion
  </p>
</div>
<!-- End of page content -->

<!-- Footer -->
<div class="w3-container w3-teal w3-Montserrat">
  <p>Copyright 2019, Richelle Tan</p>
</div>
<!-- End of Footer -->


</body>
</html>