<!DOCTYPE html>
<html>
<head>
	<title>Book One</title>
</head>

<!-- w3 and font import -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<style>
.w3-Shadow {
	font-family:"Shadows Into Light", cursive;
}

.w3-Garamond {
	font-family:"EB Garamond", serif;
}

.w3-Domine {
	font-family: 'Domine', serif;
}

.w3-Montserrat {
	font-family: "Montserrat", sans-serif;
}

.w3-Vollkorn {
	font-family: 'Vollkorn', serif;
}

.w3-Charm {
	font-family: 'Charm', cursive;
}

.w3-Playfair {
	font-family:"Playfair Display", serif;
}
</style>
<!-- End of w3 and font import -->

<body>

<!-- Tab -->
<div class="w3-bar w3-black w3-Montserrat">
  <a href="/" class="w3-bar-item w3-button w3-mobile">The Elder Scrolls: Skyrim - Book Library</a>
  <a href="/about" class="w3-bar-item w3-button w3-mobile">About</a>
</div>
<!-- End of Tab -->

<!-- Page width -->
<div style="margin-left:10%">
<!-- End of Page width -->

<!-- Page content -->
<div class="w3-container w3-Charm w3-center w3-pale-blue">
	<p class="w3-xxxlarge"> The title </p>
</div>

<div class="w3-container w3-Garamond w3-center w3-pale-blue">
	<p class="w3-xxlarge"> The world of Skyrim is </p>
</div>
<!-- End of page content -->

</body>
</html>