<!DOCTYPE html>
<html>
<head>
	<title>Alpha Library</title>
</head>

<!-- w3 and font import -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<style>
.w3-Montserrat {
	font-family: "Montserrat", sans-serif;
}

.w3-Noto {
	font-family:"Noto Serif SC", serif;
}

.w3-Playfair {
	font-family:"Playfair Display", serif;
}
</style>
<!-- End of w3 and font import -->

<body>

<!-- Navigation Bar -->
<div class="w3-bar w3-black w3-Montserrat">
  <a href="/" class="w3-bar-item w3-button w3-mobile">The Elder Scrolls: Skyrim - Book Library</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">TBD</a>
<!-- Dropdown list in bar -->
 <div class="w3-dropdown-hover">
      <button class="w3-button">Select a version!</button>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/skyrim" class="w3-bar-item w3-button w3-Playfair">TES - Skyrim</a>
      <a href="#" class="w3-bar-item w3-button w3-Playfair">TES - Oblivion</a>
      <a href="#" class="w3-bar-item w3-button w3-Playfair">TESO</a>
  </div>
<!-- End of Dropdown list in bar -->
</div>
</div>
<!-- End of Navigation Bar -->

<!--Page Content -->
<div>

</div>
<!-- End of page content -->

<!-- Footer -->
<div class="w3-container w3-teal w3-Montserrat w3-center">
  <p>Copyright 2019, Richelle Tan</p>
</div>
<!-- End of Footer -->

</body>
</html>