{% load static %}
<!DOCTYPE html>
<html>
<head>

  <title> 
    Home | RT
  </title>

  <link rel="stylesheet" type="text/css" href="{% static 'Alpha/main.css' %}">

  <script src="{% static 'Alpha/main.js' %}"> </script>

  <meta name="viewport" content="width=device-width">

</head>

<body> 
<!-- Header -->
  <header>
    <div class="container">

      <div id="siteName">
        <h1> 
          <span class="highlight">
        Richelle's Site 
          </span>
        </h1>
      </div>

      <nav>
        <ul>
          <li class="current"><a href="/">
            Home
          </a>
          </li>
          <li><a href="/cv">
            My CV
          </a>
          </li>
          <li><a href="/repo">
            My Repositories
          </a>
          </li>
          <li><a href="/about">
            About
          </a>
          </li>
        </ul>
      </nav>

    </div>
  </header>
  <!-- End of Header -->

  <!-- Begin  showcase Section -->
  <section id="showcase">
    <div class="container">
      <h1> 
        My personal site.
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare lectus ipsum, quis dictum tortor malesuada nec. Maecenas vestibulum leo in lobortis efficitur. Suspendisse eget neque aliquam mi interdum facilisis. Nunc nibh neque, imperdiet vel finibus a, tempus a nunc. Sed non tellus dignissim, vehicula tortor ut, dapibus elit. Vestibulum magna nunc, vestibulum sit amet purus vitae, condimentum ullamcorper lorem.
      </p>
    </div>
  </section>
  <!-- End of showcase section -->

  <!-- Begin of 3 skill set boxes section -->
  <section>
    <div class="box">
      <h3>
        Python Programming
      </h3>
      <p>
        Machine Learning and Artificial Intelligence
      </p>
    </div>
    <div class="box">
      <h3> 
        Web Development
      </h3>
      <p>
        JavaScript, HTML and CSS
      </p>
    </div>
    <div class="box">
      <h3>
        TO BE DECIDED
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare lectus ipsum, quis dictum tortor malesuada nec. Maecenas vestibulum leo in lobortis efficitur.
      </p>
    </div>
  </section>
<!-- End of 3 skill set boxes section -->

<!-- begin Sub for update section -->
<section id="subUpdate">
<div class="container">
  <h1>
    Subscribe for update alerts!
  </h1>
  <form>
    <input type="email" placeholder="Enter or Type Your Email!">
    <button type="submit" class="button_1"> 
      Subscribe!
    </button>
  </form>
</div>
</section>
<!-- end of sub for update section -->


<!-- Begin footer -->
  <footer>
    <p>
      Richelle Tan, Copyright 2019
    </p>  
  </footer>
<!-- End of footer -->

</body>
</html>