<!DOCTYPE html>
<html>
<head>
	<title>Alpha Library</title>
</head>

<!-- w3 and font import -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<style>
.w3-Montserrat {
	font-family: "Montserrat", sans-serif;
}

.w3-Noto {
	font-family:"Noto Serif SC", serif;
}

.w3-Playfair {
	font-family:"Playfair Display", serif;
}
</style>
<!-- End of w3 and font import -->

<body>

<!-- Tab -->
<div class="w3-bar w3-black w3-Montserrat">
  <a href="/" class="w3-bar-item w3-button w3-mobile">The Elder Scrolls: Skyrim - Book Library</a>
  <a href="/about" class="w3-bar-item w3-button w3-mobile w3-left-allign">About</a>
</div>
<!-- End of Tab -->

<!-- Page width -->
<div style="margin-left:10%">
<!-- End of Page width -->

<!--Page Content -->
<div>

</div>
<!-- End of page content -->


</body>
</html>