<!DOCTYPE html>
<html>
<head>
	<title>AlphaLib - Skyrim</title>
</head>

<!-- w3 and font import -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<style>
.w3-Shadow {
	font-family:"Shadows Into Light", cursive;
}

.w3-Garamond {
	font-family:"EB Garamond", serif;
}

.w3-Domine {
	font-family: 'Domine', serif;
}

.w3-Montserrat {
	font-family: "Montserrat", sans-serif;
}

.w3-Vollkorn {
	font-family: 'Vollkorn', serif;
}

.w3-Charm {
	font-family: 'Charm', cursive;
}

.w3-Playfair {
	font-family:"Playfair Display", serif;
}
</style>
<!-- End of w3 and font import -->

<body>

<!-- Navigation Bar -->
<div class="w3-bar w3-black w3-Montserrat">
  <a href="/" class="w3-bar-item w3-button w3-mobile">The Elder Scrolls: Skyrim - Book Library</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">TBD</a>
<!-- Dropdown list in bar -->
 <div class="w3-dropdown-hover">
      <button class="w3-button">Select a version!</button>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/skyrim" class="w3-bar-item w3-button w3-Playfair">TES - Skyrim</a>
      <a href="#" class="w3-bar-item w3-button w3-Playfair">TES - Oblivion</a>
      <a href="#" class="w3-bar-item w3-button w3-Playfair">TESO</a>
  </div>
<!-- End of Dropdown list in bar -->
</div>
</div>
<!-- End of Navigation Bar -->

<!-- Page content -->

<div class="w3-Montserrat w3-left-allign w3-pale-blue">
	<a href="/bookone" class="w3-button w3-pale-blue w3-border w3-border-white w3-xxlarge w3-hover-teal"> Book One </a>
</div>

<!-- End of page content -->

<!-- Footer -->
<div class="w3-container w3-teal w3-Montserrat w3-center">
  <p>Copyright 2019, Richelle Tan</p>
</div>
<!-- End of Footer -->

</body> 
</html>