.firstTop {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	color: #DC143C;
	background-color: #AFEEEE;
}

.containerOne {
	font-family: 'Raleway', sans-serif;
	display: flex;
	font-size: 35px;
	color: #EE82EE;
	background-color: #696969;
}
