.firstTop {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	color: #DC143C;
	background-color: #AFEEEE;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0,100,204);
}

.containerOne {
	font-family: 'Raleway', sans-serif;
	display: flex;
	font-size: 35px;
	color: rgb(75,0,204);
	background-color: #AFEEEE;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0,100,204);
}

	