.firstTop {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	color: #DC143C;
	background-color: #AFEEEE;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0,100,204);
}

.containerOne {
	font-family: 'Raleway', sans-serif;
	display: flex;
	font-size: 35px;
	color: rgb(75,0,204);
	background-color: #AFEEEE;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0,100,204);
}

body {
	margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0,125,204);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(0,160,153);
}

.active {
  background-color: rgb(153,0,200);
}
